# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
release
*.local

# Editor directories and files
.vscode/.debug.env
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# lockfile
package-lock.json
pnpm-lock.yaml
yarn.lock
config.json
data/media/*
data/db/*
data/*
chatflow.*.json
src/assets/shs/*
src/assets/shs/2.1.0.1/examples/baichuan2/checkpoint_convert/convert_baichuan2_13b_hf_to_megatron_core.sh
